.product-list-container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 20px;
	h2 {
		text-align: center;
		margin-bottom: 20px;
	}
	.add-product-button {
		margin: 0 auto 20px;
		padding: 10px 20px;
		font-size: 16px;
	}
	.products-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 10px;

		.product-card {
			@include useThemeShadow($black, $primary);
			border: 1px solid $white_dark;
			border-radius: $border_radius;
			padding: 15px;
			&:hover {
				@include useThemeShadow($black, $primary);
				transform: scale(1.01);
			}

			& h3 {
				margin: 0 0 10px;
				font-size: 18px;
				text-align: center;
			}

			.product-table {
				width: 100%;
				border-collapse: collapse;

				& td {
					padding: 5px 0;
					font-size: 14px;

					&:first-child {
						font-weight: bold;
					}
				}
			}

			.product-actions {
				display: flex;
				justify-content: space-between;
				margin-top: 10px;
			}

			.edit-button,
			.delete-button {
				width: 80px;
				padding: 5px 0;
				font-size: 14px;
			}

			.edit-button {
				background-color: $info;
				&:hover {
					background-color: darken($info, 10);
				}
			}
			.delete-button {
				background-color: $error;
				&:hover {
					background-color: darken($error, 10);
				}
			}
		}
	}
}
