.inventory-table-component {
	margin-top: 10px;
	max-height: 600px;
	overflow: hidden scroll;
	grid-area: inventoryTable;
	width: auto;

	p {
		border-right: 1px solid $white_dark;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		&:nth-child(1) {
			width: 40px;
		}
		&:nth-child(2) {
			width: 100px;
		}
		&:nth-child(3) {
			width: 100px;
		}
		&:nth-child(4) {
			width: 70px;
		}
		&:nth-child(5) {
			width: 100px;
		}
		&:nth-child(6) {
			width: 100px;
		}
		&:last-child {
			width: 80px;
			border-right: none;
		}
	}
	.table-head {
		border-radius: $border_radius $border_radius 0 0;
		background: $secondary_light;
		position: sticky;
		top: 0;
		z-index: 0;
	}

	.table-head,
	.table-row {
		display: flex;
		width: 100%;
		height: 50px;
	}
	.table-body {
		.table-row {
			cursor: pointer;
			&.selected {
				@include useThemeBg($secondary, $primary);
			}
			&.watering-due {
				background: rgba($warning, 0.5);
			}

			&:last-child {
				border-radius: 0 0 $border_radius $border_radius;
			}
			&:nth-child(even) {
				background-color: rgba($white_dark, 0.1);
				&.watering-due {
					background: rgba($warning, 0.5);
				}
			}
			&:hover {
				background-color: $primary_light;
			}
		}
	}

	// ######### SCROLL BAR #########
	/* Estilo para la barra de desplazamiento en navegadores basados en WebKit (Chrome, Safari) */
	&::-webkit-scrollbar {
		width: 8px; /* Ancho de la barra de desplazamiento */
	}

	&::-webkit-scrollbar-track {
		background: transparent; /* Fondo de la pista de desplazamiento */
	}

	&::-webkit-scrollbar-thumb {
		background-color: $primary_dark; /* Color del pulgar de desplazamiento */
		border-radius: 10px; /* Bordes redondeados */
		border: 2px solid transparent; /* Espacio alrededor del pulgar */
		background-clip: content-box; /* Mantener el fondo dentro de los bordes */
	}
}

@media (max-width: $medium) {
	.inventory-table-component {
		width: 280px;
		max-height: 400px;

		p {
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				display: none;
			}
			&:nth-child(2),
			&:nth-child(6) {
				flex: 1;
			}
		}
	}
}
