.inventory-component {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 20px;
	grid-template-areas: 'inventoryTable inventoryDetails';

	.inventory-table-container {
		@include useThemeBg($white, $black_light);
		@include useThemeShadow($black, $white);
		border-radius: 8px;
		padding: 20px;

		button {
			padding: 10px;
		}

		h2 {
			text-align: center;
		}

		.inventory-empty {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			& p {
				margin-bottom: 10px;
			}
			& button {
				margin-top: 10px;
				width: 200px;
				font-size: 16px;
			}
		}
	}
}

@media (max-width: $medium) {
	.inventory-component {
		grid-template-columns: 1fr;
		grid-template-areas: 'inventoryDetails' 'inventoryTable';
	}
}
