@import '../../../../theme/values/_colors.scss';
@import '../../../../theme/values/_sizes.scss';
@import '../../../../theme/values/_animations.scss';
@import '../../../../theme/values/_mixins.scss';

.groker__btn {
	@include useThemeBg($primary, $secondary);
	@include useThemeText($text, $white);
	padding: 5px;
	border: none;
	border-radius: $border_radius;
	cursor: pointer;
	&:hover {
		@include useThemeBg($secondary, $primary);
	}
}
