@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Geneva, Verdana, sans-serif;
}

#root {
  max-width: 100vw;
}

input,
select,
textarea {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #616161;
  padding: 10px;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #007d85;
}

input,
select {
  height: 40px;
}

button {
  cursor: pointer;
  background-color: #007d85;
  border-radius: 3px;
  border: none;
  transition: background-color 0.3s ease;
  color: #f5f5f5;
  padding: 10px;
}
button:hover {
  background-color: #e78437;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 769px) {
  .non-mobile {
    display: none;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.cancel-button,
.confirm-button {
  padding: 8px 16px;
  font-size: 14px;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}
.cancel-button:hover {
  background-color: #d32f2f;
}

.confirm-button {
  background-color: #007d85;
  color: white;
}
.confirm-button:hover {
  background-color: #45a049;
}

/* Estilo base para el contenedor del label */
.toggle-switch-label {
  display: flex;
  align-items: center; /* Alinea verticalmente el texto y el toggle */
  justify-content: space-between;
  gap: 10px; /* Espacio entre el texto y el toggle */
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

/* Estilo base para el contenedor del toggle */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px; /* Ancho del toggle */
  height: 24px; /* Altura del toggle */
}

/* Esconde el checkbox real */
.toggle-switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo del slider (la parte visible del toggle) */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Color cuando está desactivado */
  border-radius: 12px; /* Bordes redondeados para darle forma ovoide */
  cursor: pointer;
  transition: 0.3s; /* Transición suave */
}

/* Efecto al activar el toggle */
.toggle-switch input[type=checkbox]:checked + .slider {
  background-color: #007d85; /* Color cuando está activado */
}

/* Punto que se mueve dentro del toggle */
.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white; /* Color del punto */
  border-radius: 50%; /* Forma circular */
  transition: 0.3s; /* Transición suave */
}

/* Mover el punto hacia la derecha cuando está activado */
.toggle-switch input[type=checkbox]:checked + .slider::before {
  transform: translateX(26px); /* Distancia que se mueve el punto */
}

.genetics-modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.genetics-modal {
  background-color: #f5f5f5;
  padding: 20px;
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.genetics-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #333;
  font-size: 20px;
  transition: color 0.3s ease;
}
.genetics-modal-close:hover {
  background: transparent;
  color: #0b686e;
}

.genetics-modal-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.add-genetic-form {
  margin-bottom: 20px;
}
.add-genetic-form h3 {
  margin-bottom: 10px;
  color: #333;
}
.add-genetic-form .form-group {
  display: flex;
}
.add-genetic-form .form-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid #c2c2c2;
  border-radius: 3px 0 0 3px;
}
.add-genetic-form .form-group .save-button {
  border-radius: 0 3px 3px 0;
  padding: 8px 15px;
}
.add-genetic-form .form-group .save-button:hover {
  background-color: #0b686e;
}

.genetic-list h3 {
  margin-bottom: 10px;
  color: #333;
}
.genetic-list ul {
  max-height: 200px;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
}
.genetic-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #c2c2c2;
}
.genetic-list ul li span {
  color: #333;
}
.genetic-list ul li .delete-button {
  background-color: #eb6400;
  padding: 5px 10px;
}
.genetic-list ul li .delete-button:hover {
  background-color: #b35208;
}

/* Estilos generales */
.dynamic-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.dynamic-form .action-buttons {
  width: 100%;
}
.dynamic-form .action-buttons:first-child {
  background-color: #eb6400;
}
.dynamic-form .action-buttons:first-child:hover {
  background-color: #b35208;
}
.dynamic-form .watering-fields,
.dynamic-form .advanced-fields {
  margin-top: 10px;
  padding: 15px;
  border: 1px dashed #616161;
  border-radius: 3px;
}
.dynamic-form .common-fields {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 40px) 60px 100px;
  gap: 10px;
  grid-template-areas: "stage stage stage potSize potSize potSize" "temperature temperature temperature humidity humidity humidity" "switchPot switchPot switchObs switchObs switchWater switchWater" "notes notes notes notes notes notes";
}
.dynamic-form .stage-select {
  grid-area: stage;
}
.dynamic-form .potSize-input {
  grid-area: potSize;
}
.dynamic-form .temperature-input {
  grid-area: temperature;
}
.dynamic-form .humidity-input {
  grid-area: humidity;
}
.dynamic-form .isFinalPot-switch {
  grid-area: switchPot;
}
.dynamic-form .underObservation-switch {
  grid-area: switchObs;
}
.dynamic-form .watered-switch {
  grid-area: switchWater;
}
.dynamic-form .notes-textarea {
  grid-area: notes;
  resize: none;
}
.dynamic-form .isFinalPot-switch,
.dynamic-form .underObservation-switch,
.dynamic-form .watered-switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dynamic-form .isFinalPot-switch p,
.dynamic-form .underObservation-switch p,
.dynamic-form .watered-switch p {
  margin-bottom: 5px;
}
.dynamic-form .advanced-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 100px;
  gap: 10px;
  grid-template-areas: "date name" "change genetic";
}
.dynamic-form .advanced-date {
  grid-area: date;
}
.dynamic-form .advanced-name {
  grid-area: name;
}
.dynamic-form .advanced-genetic {
  grid-area: genetic;
}
.dynamic-form .advanced-genetic button {
  width: 100%;
  padding: 5px 0;
}
.dynamic-form .advanced-change {
  grid-area: change;
}
.dynamic-form .watering-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "watering-date watering-amount" "watering-ph watering-ec" "watering-products watering-products" "watering-product-add watering-product-add";
  align-items: end;
  gap: 10px;
  margin-bottom: 10px;
}
.dynamic-form .watering-date {
  grid-area: watering-date;
  height: 60px;
}
.dynamic-form .watering-amount {
  grid-area: watering-amount;
}
.dynamic-form .watering-ph {
  grid-area: watering-ph;
}
.dynamic-form .watering-ec {
  grid-area: watering-ec;
}
.dynamic-form .watering-products {
  grid-area: watering-products;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dynamic-form .watering-product-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; /* Select, Amount, Remove */
  gap: 10px;
  align-items: center;
}
.dynamic-form .watering-product-select {
  grid-column: 1/2;
}
.dynamic-form .watering-product-amount {
  grid-column: 2/3;
}
.dynamic-form .watering-product-remove {
  grid-column: 3/4;
}
.dynamic-form .watering-product-add {
  grid-area: watering-product-add;
}

/* Media Queries para móviles */
@media (max-width: 769px) {
  .dynamic-form {
    padding: 15px;
  }
  .dynamic-form .advanced-fields {
    grid-template-columns: 1fr;
    grid-template-areas: "date" "name" "genetic" "change";
    grid-template-rows: auto auto auto auto;
  }
  .dynamic-form .common-fields {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 40px) auto 100px;
    grid-template-areas: "stage stage stage" "potSize potSize potSize" "temperature temperature temperature" "humidity humidity humidity" "switchPot switchObs switchWater" "notes notes notes";
  }
  .dynamic-form .watering-fields {
    grid-template-columns: 1fr;
    grid-template-areas: "watering-date" "watering-amount" "watering-ph" "watering-ec" "watering-products" "watering-product-add";
  }
  .dynamic-form .watering-product-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "watprod-select watprod-select watprod-amount" "watprod-remove watprod-remove watprod-remove";
    gap: 10px;
    align-items: center;
  }
  .dynamic-form .watering-product-select {
    grid-area: watprod-select;
  }
  .dynamic-form .watering-product-amount {
    grid-area: watprod-amount;
  }
  .dynamic-form .watering-product-remove {
    grid-area: watprod-remove;
  }
}
.plant-history-component {
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #f5f5f5;
}
.plant-history-component h2 {
  text-align: center;
  color: #333;
}
.plant-history-component .history-entry {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
}
.plant-history-component .history-entry h3 {
  margin-top: 0;
  color: #555;
}
.plant-history-component .history-entry ul {
  list-style-type: none;
  padding: 0;
}
.plant-history-component .history-entry ul li {
  margin-bottom: 5px;
}
.plant-history-component .history-entry ul li p {
  margin: 0;
}
.plant-history-component .history-entry ul li button {
  padding: 5px 10px;
}
.plant-history-component .history-entry ul li ul {
  list-style: circle;
  padding: 0 25px;
}

.plant-list-component,
.plant-details-component {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
}
.inventory-table th,
.inventory-table td {
  border: 1px solid #c2c2c2;
  padding: 2px;
  text-align: left;
}
.inventory-table th {
  background-color: #e78437;
}
.inventory-table tr {
  cursor: pointer;
}
.inventory-table tr.selected {
  background-color: #eb6400;
}
.inventory-table .table-buttons {
  border: 1px solid #b35208;
  width: 100%;
  padding: 2px 0;
}
.inventory-table .table-buttons:first-child {
  margin-bottom: 1px;
}

@media (max-width: 769px) {
  .inventory-table th,
  .inventory-table td {
    font-size: 14px; /* Reducir el tamaño del texto */
    padding: 6px; /* Reducir el padding */
  }
  .inventory-table th:nth-child(2),
  .inventory-table td:nth-child(2),
  .inventory-table th:nth-child(3),
  .inventory-table td:nth-child(3),
  .inventory-table th:nth-child(4),
  .inventory-table td:nth-child(4),
  .inventory-table th:nth-child(5),
  .inventory-table td:nth-child(5),
  .inventory-table th:nth-child(7),
  .inventory-table td:nth-child(7) {
    display: none; /* Ocultar columnas adicionales en móviles */
  }
}
.add-plant-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 60px);
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
  grid-template-areas: "name genetic" "date stage" "potSize potCheckbox" "button button";
}

.add-plant-form-name {
  grid-area: name;
  display: flex;
  flex-direction: column;
}

.add-plant-form-genetic {
  grid-area: genetic;
  display: flex;
}
.add-plant-form-genetic select {
  border-radius: 3px 0 0 3px !important;
}
.add-plant-form-genetic button {
  height: 40px;
  padding: 0 10px;
  border-radius: 0 3px 3px 0;
}

.add-plant-form-date {
  grid-area: date;
}

.add-plant-form-stage {
  grid-area: stage;
}

.add-plant-form-potSize {
  grid-area: potSize;
}

.add-plant-form-potCheckbox {
  grid-area: potCheckbox;
  font-size: 14px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.add-plant-form-button {
  grid-area: button;
  padding: 10px;
  font-size: 16px;
}

.add-plant-form-name input,
.add-plant-form-genetic select,
.add-plant-form-date input,
.add-plant-form-stage select,
.add-plant-form-potSize {
  width: 100%;
  padding: 8px;
  border: 1px solid #616161;
  border-radius: 3px;
  font-size: 14px;
}
.add-plant-form-name input:focus,
.add-plant-form-genetic select:focus,
.add-plant-form-date input:focus,
.add-plant-form-stage select:focus,
.add-plant-form-potSize:focus {
  border-color: #007d85;
  outline: none;
}

.error {
  color: #f44336;
  font-size: 12px;
  margin-top: 2px;
}

@media (max-width: 769px) {
  .add-plant-form-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    grid-template-areas: "name name name" "genetic genetic genetic" "date date date" "stage stage stage" "potSize potSize potCheckbox" "button button button";
  }
  .add-plant-form-name input,
  .add-plant-form-genetic select,
  .add-plant-form-date input,
  .add-plant-form-stage select,
  .add-plant-form-potSize {
    font-size: 16px;
  }
  .add-plant-form-potCheckbox {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .add-plant-form-button {
    font-size: 18px;
  }
}
.product-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.product-list-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.product-list-container .add-product-button {
  margin: 0 auto 20px;
  padding: 10px 20px;
  font-size: 16px;
}
.product-list-container .products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
.product-list-container .products-grid .product-card {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  padding: 15px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.product-list-container .products-grid .product-card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.product-list-container .products-grid .product-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
  text-align: center;
}
.product-list-container .products-grid .product-card .product-table {
  width: 100%;
  border-collapse: collapse;
}
.product-list-container .products-grid .product-card .product-table td {
  padding: 5px 0;
  font-size: 14px;
}
.product-list-container .products-grid .product-card .product-table td:first-child {
  font-weight: bold;
}
.product-list-container .products-grid .product-card .product-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.product-list-container .products-grid .product-card .edit-button,
.product-list-container .products-grid .product-card .delete-button {
  width: 80px;
  padding: 5px 0;
  font-size: 14px;
}
.product-list-container .products-grid .product-card .edit-button {
  background-color: #2f89fc;
}
.product-list-container .products-grid .product-card .edit-button:hover {
  background-color: #046df4;
}
.product-list-container .products-grid .product-card .delete-button {
  background-color: #f44336;
}
.product-list-container .products-grid .product-card .delete-button:hover {
  background-color: #ea1c0d;
}

.add-product-form {
  max-width: 800px;
  margin: 0 auto 20px;
  padding: 20px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.add-product-form h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
.add-product-form .form-group {
  margin-bottom: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
}
.add-product-form .form-group:nth-child(3) {
  display: block;
  grid-column: 1/3;
  grid-row: 2/3;
}
.add-product-form .form-group:nth-child(4) {
  display: block;
  grid-column: 1/3;
  grid-row: 3/4;
}
.add-product-form .form-group:nth-child(5) {
  display: block;
  grid-column: 1/3;
  grid-row: 4/5;
}
.add-product-form .form-group:nth-child(6) {
  display: block;
  grid-column: 1/3;
  grid-row: 5/6;
}
.add-product-form .form-group .error {
  color: #f44336;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  font-weight: normal;
}
.add-product-form .submit-button {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header h1 {
  color: #484848;
}
.header-buttons button {
  padding: 10px 15px;
  color: #f5f5f5;
}
.header-buttons button:first-child {
  margin-right: 10px;
}

@media (max-width: 769px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-buttons button {
    margin-top: 10px;
  }
  .header-buttons button:first-child {
    margin-bottom: 10px;
  }
}
.app-container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.forms-section {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 769px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=index.css.map */