@charset "UTF-8";
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 769px) {
  .non-mobile {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Geneva, Verdana, sans-serif;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

.btn {
  transition: background 0.2s ease;
  transition: color 0.2s ease;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.btn.light {
  background: #007d85;
}
.btn.dark {
  background: #eb6400;
}
.btn.light {
  color: #333;
}
.btn.light a {
  color: #333;
}
.btn.dark {
  color: #f5f5f5;
}
.btn.dark a {
  color: #f5f5f5;
}
.btn:hover {
  transition: background 0.2s ease;
}
.btn:hover.light {
  background: #eb6400;
}
.btn:hover.dark {
  background: #007d85;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-overlay .modal-content {
  transition: background 0.2s ease;
  padding: 20px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.modal-overlay .modal-content.light {
  background: #f5f5f5;
}
.modal-overlay .modal-content.dark {
  background: #373737;
}
.modal-overlay .modal-content .modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.modal-overlay .modal-content .modal-actions .cancel-button,
.modal-overlay .modal-content .modal-actions .confirm-button {
  padding: 8px 16px;
  font-size: 14px;
}
.modal-overlay .modal-content .modal-actions .cancel-button {
  background-color: #d32f2f;
}
.modal-overlay .modal-content .modal-actions .cancel-button:hover {
  background-color: #f44336;
}

/* Estilo base para el contenedor del label */
.toggle-switch-label {
  display: flex;
  align-items: center; /* Alinea verticalmente el texto y el toggle */
  justify-content: space-between;
  gap: 10px; /* Espacio entre el texto y el toggle */
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

/* Estilo base para el contenedor del toggle */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px; /* Ancho del toggle */
  height: 24px; /* Altura del toggle */
}

/* Esconde el checkbox real */
.toggle-switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo del slider (la parte visible del toggle) */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /* Color cuando está desactivado */
  border-radius: 12px; /* Bordes redondeados para darle forma ovoide */
  cursor: pointer;
  transition: 0.3s; /* Transición suave */
}

/* Efecto al activar el toggle */
.toggle-switch input[type=checkbox]:checked + .slider {
  background-color: #007d85; /* Color cuando está activado */
}

/* Punto que se mueve dentro del toggle */
.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white; /* Color del punto */
  border-radius: 50%; /* Forma circular */
  transition: 0.3s; /* Transición suave */
}

/* Mover el punto hacia la derecha cuando está activado */
.toggle-switch input[type=checkbox]:checked + .slider::before {
  transform: translateX(26px); /* Distancia que se mueve el punto */
}

.menu_icon {
  transition: background 0.2s ease;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.menu_icon.light {
  background: _;
}
.menu_icon.dark {
  background: #007d85;
}
.menu_icon.fix {
  position: fixed;
}
.menu_icon .bar {
  width: 30px;
  height: 3px;
  background: #333;
  border-radius: 1.5px;
  position: relative;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
.menu_icon .bar::before, .menu_icon .bar::after {
  content: "";
  display: block;
  position: absolute;
  background: #333;
  width: 30px;
  height: 3px;
  border-radius: 1.5px;
  top: -0.4em;
  transition: all 0.4s ease;
}
.menu_icon .bar::after {
  top: 0.4em;
}
.menu_icon .bar.toggle {
  height: 0;
}
.menu_icon .bar.toggle::before, .menu_icon .bar.toggle::after {
  top: 0;
}
.menu_icon .bar.toggle::after {
  transform: rotate(45deg);
}
.menu_icon .bar.toggle::before {
  transform: rotate(-45deg);
}

.navigation-container {
  position: relative;
  top: 0;
  display: flex;
  gap: 20px;
}
.navigation-container .back-button {
  margin: 5px;
  width: 30px;
  height: 30px;
}
.navigation-container .navigation {
  transition: background 0.2s ease;
  transition: color 0.2s ease;
  height: 100vh;
  width: 230px;
  position: fixed;
  top: 0;
  left: -240px;
  z-index: 2;
  transition: left 0.3s ease;
}
.navigation-container .navigation.light {
  background: #f5f5f5;
}
.navigation-container .navigation.dark {
  background: #212121;
}
.navigation-container .navigation.light {
  color: #212121;
}
.navigation-container .navigation.light a {
  color: #212121;
}
.navigation-container .navigation.dark {
  color: #f5f5f5;
}
.navigation-container .navigation.dark a {
  color: #f5f5f5;
}
.navigation-container .navigation.light {
  box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.2);
}
.navigation-container .navigation.dark {
  box-shadow: 0 0 5px 1px rgba(0, 125, 133, 0.3);
}
.navigation-container .navigation.open {
  left: 0;
}
.navigation-container .navigation .theme-switch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  position: relative;
}
.navigation-container .navigation .theme-switch div {
  padding-right: 12px;
  padding-top: 17px;
}

.app-container {
  transition: background 0.2s ease;
  transition: color 0.2s ease;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.app-container.light {
  background: #f5f5f5;
}
.app-container.dark {
  background: #212121;
}
.app-container.light {
  color: #333;
}
.app-container.light a {
  color: #333;
}
.app-container.dark {
  color: #f5f5f5;
}
.app-container.dark a {
  color: #f5f5f5;
}
.app-container .header {
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 20px 10px;
}

@media (max-width: 769px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .header h1 {
    font-size: 22px;
  }
}
.plant-history-component {
  transition: background 0.2s ease;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.plant-history-component.light {
  background: #fff;
}
.plant-history-component.dark {
  background: #373737;
}
.plant-history-component h2 {
  text-align: center;
}
.plant-history-component .history-entry {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.plant-history-component .history-entry h3 {
  margin-top: 0;
}
.plant-history-component .history-entry ul {
  list-style-type: none;
  padding: 0;
}
.plant-history-component .history-entry ul li {
  margin-bottom: 5px;
}
.plant-history-component .history-entry ul li p {
  margin: 0;
}
.plant-history-component .history-entry ul li button {
  padding: 5px 10px;
}
.plant-history-component .history-entry ul li ul {
  list-style: circle;
  padding: 0 25px;
}

.inventory-component {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  grid-template-areas: "inventoryTable inventoryDetails";
}
.inventory-component .inventory-table-container {
  transition: background 0.2s ease;
  border-radius: 8px;
  padding: 20px;
}
.inventory-component .inventory-table-container.light {
  background: #f5f5f5;
}
.inventory-component .inventory-table-container.dark {
  background: #373737;
}
.inventory-component .inventory-table-container.light {
  box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.2);
}
.inventory-component .inventory-table-container.dark {
  box-shadow: 0 0 5px 1px rgba(245, 245, 245, 0.3);
}
.inventory-component .inventory-table-container h2 {
  text-align: center;
}
.inventory-component .inventory-table-container .inventory-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inventory-component .inventory-table-container .inventory-empty p {
  margin-bottom: 10px;
}
.inventory-component .inventory-table-container .inventory-empty button {
  margin-top: 10px;
  width: 200px;
  font-size: 16px;
}

@media (max-width: 769px) {
  .inventory-component {
    grid-template-columns: 1fr;
    grid-template-areas: "inventoryDetails" "inventoryTable";
  }
}
.inventory-table-component {
  margin-top: 10px;
  max-height: 600px;
  overflow: hidden scroll;
  grid-area: inventoryTable;
  /* Estilo para la barra de desplazamiento en navegadores basados en WebKit (Chrome, Safari) */
}
.inventory-table-component p {
  border-right: 1px solid #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inventory-table-component p:nth-child(1) {
  width: 40px;
}
.inventory-table-component p:nth-child(2) {
  width: 100px;
}
.inventory-table-component p:nth-child(3) {
  width: 100px;
}
.inventory-table-component p:nth-child(4) {
  width: 70px;
}
.inventory-table-component p:nth-child(5) {
  width: 100px;
}
.inventory-table-component p:last-child {
  width: 80px;
  border-right: none;
}
.inventory-table-component .table-head {
  border-radius: 3px 3px 0 0;
  background: #e78437;
  position: sticky;
  top: 0;
}
.inventory-table-component .table-head,
.inventory-table-component .table-row {
  display: flex;
  width: 100%;
  height: 50px;
}
.inventory-table-component .table-body .table-row {
  cursor: pointer;
}
.inventory-table-component .table-body .table-row.selected {
  transition: background 0.2s ease;
}
.inventory-table-component .table-body .table-row.selected.light {
  background: #eb6400;
}
.inventory-table-component .table-body .table-row.selected.dark {
  background: #007d85;
}
.inventory-table-component .table-body .table-row:last-child {
  border-radius: 0 0 3px 3px;
}
.inventory-table-component .table-body .table-row:nth-child(even) {
  background-color: rgba(194, 194, 194, 0.1);
}
.inventory-table-component .table-body .table-row:hover {
  background-color: #09a4af;
}
.inventory-table-component::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}
.inventory-table-component::-webkit-scrollbar-track {
  background: transparent; /* Fondo de la pista de desplazamiento */
}
.inventory-table-component::-webkit-scrollbar-thumb {
  background-color: #0b686e; /* Color del pulgar de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid transparent; /* Espacio alrededor del pulgar */
  background-clip: content-box; /* Mantener el fondo dentro de los bordes */
}

@media (max-width: 769px) {
  .inventory-table-component {
    width: 280px;
    max-height: 400px;
  }
  .inventory-table-component p:nth-child(3), .inventory-table-component p:nth-child(4), .inventory-table-component p:nth-child(5) {
    display: none;
  }
  .inventory-table-component p:nth-child(2), .inventory-table-component p:nth-child(6) {
    flex: 1;
  }
}
.details-component {
  transition: background 0.2s ease;
  padding: 20px;
  border-radius: 8px;
  grid-area: inventoryDetails;
}
.details-component.light {
  background: #f5f5f5;
}
.details-component.dark {
  background: #373737;
}
.details-component.light {
  box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.2);
}
.details-component.dark {
  box-shadow: 0 0 5px 1px rgba(245, 245, 245, 0.3);
}

/* Reset básico */
.plant-info-container {
  line-height: 1.6;
  padding: 20px;
}

/* Sección principal */
.plant-info-section {
  transition: background 0.2s ease;
  width: 100%;
  max-width: 1025px;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px;
}
.plant-info-section.light {
  background: #f5f5f5;
}
.plant-info-section.dark {
  background: #373737;
}
.plant-info-section.light {
  box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.2);
}
.plant-info-section.dark {
  box-shadow: 0 0 5px 1px rgba(245, 245, 245, 0.3);
}
.plant-info-section header {
  margin-bottom: 15px;
}
.plant-info-section header h1 {
  font-size: 24px;
  color: #007d85;
  text-align: center;
}

/* Estilos generales para campos */
.field-section {
  margin-bottom: 10px;
  /* Modo edición */
  /* Modo visualización */
  /* Notas */
  /* Selector de productos */
  /* Campos avanzados de riego */
  /* Productos añadidos */
  /* Toggle final pot */
}
.field-section .field-view-mode,
.field-section .field-edit-mode {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.field-section .field-label {
  font-weight: bold;
  display: block;
}
.field-section .field-edit-mode {
  transition: color 0.2s ease;
  gap: 10px;
  position: relative;
}
.field-section .field-edit-mode.light {
  color: #212121;
}
.field-section .field-edit-mode.light a {
  color: #212121;
}
.field-section .field-edit-mode.dark {
  color: #f5f5f5;
}
.field-section .field-edit-mode.dark a {
  color: #f5f5f5;
}
.field-section .field-edit-mode .input-label {
  transition: background 0.2s ease;
  position: absolute;
  top: -8px;
  left: 10px;
  padding: 0 5px;
  font-size: 12px;
  font-weight: normal;
}
.field-section .field-edit-mode .input-label.light {
  background: #f5f5f5;
}
.field-section .field-edit-mode .input-label.dark {
  background: #373737;
}
.field-section .field-edit-mode .input-field {
  transition: color 0.2s ease;
  width: 80%;
  background: transparent;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  font-size: 16px;
  height: 100%;
  padding: 10px;
  outline: none;
}
.field-section .field-edit-mode .input-field.light {
  color: #212121;
}
.field-section .field-edit-mode .input-field.light a {
  color: #212121;
}
.field-section .field-edit-mode .input-field.dark {
  color: #f5f5f5;
}
.field-section .field-edit-mode .input-field.dark a {
  color: #f5f5f5;
}
.field-section .field-edit-mode .input-field:focus {
  border-color: #007d85;
}
.field-section .field-edit-mode .input-field.dark option {
  background: #373737;
}
.field-section .field-edit-mode .input-field .custom-date-input,
.field-section .field-edit-mode .input-field .custom-date-button {
  color: inherit;
  cursor: pointer;
  height: 100%;
  border: none;
}
.field-section .field-edit-mode .input-field .custom-date-input {
  background: transparent;
  width: 90%;
  font-size: inherit;
  outline: none;
}
.field-section .field-edit-mode .input-field .custom-date-button {
  width: 10%;
  background: none;
}
.field-section .field-edit-mode .field-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 20%;
}
.field-section .field-edit-mode .field-actions svg {
  transition: border 0.3s ease;
  border-radius: 3px;
  width: 35px;
  height: 35px;
  padding: 5px;
  color: #66bb6a;
}
.field-section .field-edit-mode .field-actions svg:hover {
  border: 1px solid #c2c2c2;
  color: #2f89fc;
}
.field-section .field-edit-mode .field-actions button {
  padding: 5px 10px;
}
.field-section .field-edit-mode .field-actions button.info-action-button {
  width: 100px;
}
.field-section .field-edit-mode .field-actions button:nth-child(3) {
  background: #f44336;
}
.field-section .field-edit-mode .field-actions button:nth-child(3):hover {
  background: #ea1c0d;
}
.field-section .field-view-mode {
  align-items: center;
  padding: 10px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
}
.field-section .field-view-mode h2,
.field-section .field-view-mode span {
  margin: 0;
}
.field-section .field-view-mode button {
  width: 150px;
  padding: 10px;
}
.field-section .field-view-mode.product-selector button {
  width: 100%;
  height: 40px;
}
.field-section .field-view-mode .notes {
  background: red;
}
.field-section .notes,
.field-section .product-selector {
  border: none;
}
.field-section .notes {
  display: flex;
  flex-direction: column;
  height: auto;
}
.field-section .notes textarea {
  flex: 1;
  outline: none;
  resize: none;
  min-height: 80px;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: inherit;
  background: transparent;
  color: inherit;
}
.field-section .notes textarea:focus {
  border: 1px solid #007d85;
}
.field-section .notes .field-actions {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.field-section .notes .field-actions .underObservation-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.field-section .notes .field-actions .underObservation-field span {
  cursor: pointer;
}
.field-section .notes .field-actions button {
  width: 100px;
  padding: 10px;
}
.field-section .notes .field-actions button:nth-child(3) {
  background: #f44336;
}
.field-section .notes .field-actions button:nth-child(3):hover {
  background: #ea1c0d;
}
.field-section .notes .notes-list {
  list-style: none;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
}
.field-section .notes .notes-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5px;
}
.field-section .notes .notes-list li:nth-child(even) {
  background: gainsboro;
}
.field-section .notes .notes-list li:last-child {
  margin-bottom: 0;
}
.field-section .notes .notes-list li span {
  cursor: default;
}
.field-section .notes .notes-list li button {
  background: #f44336;
}
.field-section .notes .notes-list li button:hover {
  background: #ea1c0d;
}
.field-section .notes .notes-list.dark li:nth-child(even) {
  background: #515151;
}
.field-section .product-selection-form {
  gap: 0;
  height: 60px;
}
.field-section .product-selection-form select {
  flex: 3;
  background: transparent;
  color: inherit;
  border: 1px solid #c2c2c2;
  border-radius: 3px 0 0 3px;
  font-size: inherit;
  outline: none;
}
.field-section .product-selection-form select:focus {
  border-color: #007d85;
}
.field-section .product-selection-form input {
  flex: 1;
  background: transparent;
  color: inherit;
  border: 1px solid #c2c2c2;
  border-radius: 0 3px 3px 0;
  outline: none;
  font-size: inherit;
  padding-left: 10px;
  margin-right: 5px;
}
.field-section .product-selection-form input:focus {
  border-color: #007d85;
}
.field-section .product-selection-form .field-actions {
  gap: 2px;
}
.field-section .product-selection-form .field-actions button {
  height: 30px;
  padding: 5px 10px;
}
.field-section .product-selection-form .field-actions button:nth-child(2) {
  background: #f44336;
}
.field-section .product-selection-form .field-actions button:nth-child(2):hover {
  background: #ea1c0d;
}
.field-section .product-selection-form.dark select option {
  background: #373737;
}
.field-section .watering-advanced-fields {
  margin: 5px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "water water" "ph ec";
  gap: 5px;
}
.field-section .watering-advanced-fields .amount-field input,
.field-section .watering-advanced-fields .ph-field input,
.field-section .watering-advanced-fields .ec-field input {
  width: 100%;
  height: 60px;
  background: transparent;
  padding: 5px 10px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  color: inherit;
  font-size: inherit;
}
.field-section .watering-advanced-fields .amount-field input:focus,
.field-section .watering-advanced-fields .ph-field input:focus,
.field-section .watering-advanced-fields .ec-field input:focus {
  border-color: #007d85;
}
.field-section .watering-advanced-fields .amount-field {
  grid-area: water;
}
.field-section .watering-advanced-fields .ph-field {
  grid-area: ph;
}
.field-section .watering-advanced-fields .ec-field {
  grid-area: ec;
}
.field-section .watering-products-added {
  margin-top: 15px;
}
.field-section .watering-products-added .watering-product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.field-section .watering-products-added .watering-product-item span {
  margin-right: 10px;
}
.field-section .watering-products-added .watering-product-item .watering-product-remove {
  background: #f44336;
  font-size: 14px;
}
.field-section .watering-products-added .watering-product-item .watering-product-remove:hover {
  background: #ea1c0d;
}
.field-section .final-pot-toggle {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 20px;
  margin-top: 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 769px) {
  .plant-info-section {
    padding: 15px;
  }
  .plant-info-section header h1 {
    font-size: 20px;
  }
  .field-section {
    margin-bottom: 10px;
  }
  .field-section .field-edit-mode,
  .field-section .field-view-mode {
    flex-direction: column;
    height: auto;
    gap: 5px;
    width: 100%;
  }
  .field-section .field-edit-mode .input-field,
  .field-section .field-view-mode .input-field {
    width: 100%;
  }
  .field-section .field-edit-mode .field-actions,
  .field-section .field-view-mode .field-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .field-section .field-edit-mode .field-actions button,
  .field-section .field-view-mode .field-actions button {
    width: 100%;
  }
  .field-section .field-view-mode {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c2c2c2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
  }
  .field-section .field-view-mode div {
    display: flex;
    width: 100%;
  }
  .field-section .field-view-mode div label {
    margin-right: 5px;
  }
  .field-section .field-edit-mode .field-actions {
    flex-direction: row;
    justify-content: space-around;
  }
  .field-section .field-edit-mode.product-selection-form {
    flex-direction: column;
    height: auto;
  }
  .field-section .field-edit-mode.product-selection-form select,
  .field-section .field-edit-mode.product-selection-form input {
    flex: auto;
    width: 100%;
    height: 50px;
  }
  .field-section .field-edit-mode.product-selection-form .field-actions {
    flex-direction: row;
  }
  .field-section .notes .field-actions {
    flex-direction: column;
  }
  .field-section .watering-advanced-fields {
    grid-template-columns: 1fr;
    grid-template-areas: "water" "ph" "ec";
  }
  .field-section .watering-products-added .watering-product-item button {
    width: 70px;
  }
}
.add-plant-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 60px);
  gap: 10px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
  grid-template-areas: ". cancel" "name genetic" "date stage" "potSize potCheckbox" "button button";
}

.cancel-button {
  grid-area: cancel;
  width: 100px;
  justify-self: flex-end;
  align-self: center;
}

.add-plant-form-name {
  grid-area: name;
  display: flex;
  flex-direction: column;
}

.add-plant-form-genetic {
  grid-area: genetic;
  display: flex;
}
.add-plant-form-genetic select {
  border-radius: 3px 0 0 3px !important;
}
.add-plant-form-genetic button {
  height: 40px;
  padding: 0 10px;
  border-radius: 0 3px 3px 0;
}

.add-plant-form-date {
  grid-area: date;
}

.add-plant-form-stage {
  grid-area: stage;
}

.add-plant-form-potSize {
  grid-area: potSize;
}

.add-plant-form-potCheckbox {
  grid-area: potCheckbox;
  font-size: 14px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.add-plant-form-button {
  grid-area: button;
  padding: 10px;
  font-size: 16px;
}

.add-plant-form-name input,
.add-plant-form-genetic select,
.add-plant-form-date input,
.add-plant-form-stage select,
.add-plant-form-potSize {
  width: 100%;
  padding: 8px;
  border: 1px solid #616161;
  border-radius: 3px;
  font-size: 14px;
}
.add-plant-form-name input:focus,
.add-plant-form-genetic select:focus,
.add-plant-form-date input:focus,
.add-plant-form-stage select:focus,
.add-plant-form-potSize:focus {
  border-color: #007d85;
  outline: none;
}

.error {
  color: #f44336;
  font-size: 12px;
  margin-top: 2px;
}

@media (max-width: 769px) {
  .add-plant-form-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    grid-template-areas: "name name name" "genetic genetic genetic" "date date date" "stage stage stage" "potSize potSize potCheckbox" "button button button";
  }
  .add-plant-form-name input,
  .add-plant-form-genetic select,
  .add-plant-form-date input,
  .add-plant-form-stage select,
  .add-plant-form-potSize {
    font-size: 16px;
  }
  .add-plant-form-potCheckbox {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .add-plant-form-button {
    font-size: 18px;
  }
}
.product-list-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
.product-list-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.product-list-container .add-product-button {
  margin: 0 auto 20px;
  padding: 10px 20px;
  font-size: 16px;
}
.product-list-container .products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
.product-list-container .products-grid .product-card {
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  padding: 15px;
}
.product-list-container .products-grid .product-card:hover {
  transform: scale(1.01);
}
.product-list-container .products-grid .product-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
  text-align: center;
}
.product-list-container .products-grid .product-card .product-table {
  width: 100%;
  border-collapse: collapse;
}
.product-list-container .products-grid .product-card .product-table td {
  padding: 5px 0;
  font-size: 14px;
}
.product-list-container .products-grid .product-card .product-table td:first-child {
  font-weight: bold;
}
.product-list-container .products-grid .product-card .product-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.product-list-container .products-grid .product-card .edit-button,
.product-list-container .products-grid .product-card .delete-button {
  width: 80px;
  padding: 5px 0;
  font-size: 14px;
}
.product-list-container .products-grid .product-card .edit-button {
  background-color: #2f89fc;
}
.product-list-container .products-grid .product-card .edit-button:hover {
  background-color: #046df4;
}
.product-list-container .products-grid .product-card .delete-button {
  background-color: #f44336;
}
.product-list-container .products-grid .product-card .delete-button:hover {
  background-color: #ea1c0d;
}

.add-product-form {
  max-width: 800px;
  margin: 0 auto 20px;
  padding: 20px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.add-product-form h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
.add-product-form .form-group {
  margin-bottom: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
}
.add-product-form .form-group:nth-child(3) {
  display: block;
  grid-column: 1/3;
  grid-row: 2/3;
}
.add-product-form .form-group:nth-child(4) {
  display: block;
  grid-column: 1/3;
  grid-row: 3/4;
}
.add-product-form .form-group:nth-child(5) {
  display: block;
  grid-column: 1/3;
  grid-row: 4/5;
}
.add-product-form .form-group:nth-child(6) {
  display: block;
  grid-column: 1/3;
  grid-row: 5/6;
}
.add-product-form .form-group .error {
  color: #f44336;
  font-size: 12px;
  margin-top: 5px;
  display: block;
  font-weight: normal;
}
.add-product-form .submit-button {
  width: 100%;
}

.genetics-modal {
  width: 400px;
  height: 400px;
  position: relative;
}

.genetics-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 20px;
  transition: color 0.3s ease;
}
.genetics-modal-close:hover {
  color: #0b686e;
}
.genetics-modal-close.dark {
  background: transparent;
}
.genetics-modal-close.light {
  background: transparent;
}

.genetics-modal-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.add-genetic-form {
  margin-bottom: 20px;
}
.add-genetic-form h3 {
  margin-bottom: 10px;
}
.add-genetic-form .form-group {
  display: flex;
}
.add-genetic-form .form-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid #c2c2c2;
  border-radius: 3px 0 0 3px;
}
.add-genetic-form .form-group .save-button {
  border-radius: 0 3px 3px 0;
  padding: 8px 15px;
}

.genetic-list h3 {
  margin-bottom: 10px;
}
.genetic-list ul {
  max-height: 200px;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
}
.genetic-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #c2c2c2;
}
.genetic-list ul li .delete-button {
  padding: 5px 10px;
}
.genetic-list ul li .delete-button:hover {
  background-color: #f44336;
}/*# sourceMappingURL=index.css.map */