.plant-history-component {
	@include useThemeBg($white_light, $black_light);
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: $border_radius;
	h2 {
		text-align: center;
	}

	.history-entry {
		margin-bottom: 10px;
		padding: 8px;
		border: 1px solid #ddd;
		border-radius: $border_radius;

		h3 {
			margin-top: 0;
		}

		ul {
			list-style-type: none;
			padding: 0;

			li {
				margin-bottom: 5px;

				p {
					margin: 0;
				}
				button {
					padding: 5px 10px;
				}
				ul {
					list-style: circle;
					padding: 0 25px;
				}
			}
		}
	}
}
