.navigation-container {
	position: relative;
	top: 0;
	display: flex;
	gap: 20px;
	.navigation {
		@include useThemeBg($white, $black);
		@include useThemeText($text, $white);
		@include useThemeShadow($black, $primary);
		height: $vh;
		width: 230px;
		position: fixed;
		top: 0;
		left: -240px;
		z-index: 2;
		transition: left 0.3s ease;
		&.open {
			left: 0;
		}

		.theme-switch {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding: 10px;
			position: relative;
			div {
				padding-right: 12px;
				padding-top: 17px;
			}
		}
		.navigation-list {
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: 10px;
			& li {
				padding-left: 10px;
				height: 40px;
				line-height: 40px;
				& a {
					color: inherit;
					display: inline-block;
					width: 100%;
				}
				&:hover {
					background-color: $primary_light;
				}
			}
		}
		.sub_list {
			list-style: none;
			animation: desplegar 0.3s ease-out;
			li {
				width: 100%;
				margin-bottom: 5px;
				a {
					font-size: 16px;
				}
			}
		}
	}
}
@keyframes desplegar {
	from {
		max-height: 0;
		opacity: 0;
	}
	to {
		max-height: 500px; // Ajusta según el tamaño máximo esperado
		opacity: 1;
	}
}
