.navigation-container {
	position: relative;
	top: 0;
	display: flex;
	gap: 20px;
	.navigation {
		@include useThemeBg($white, $black);
		@include useThemeText($text, $white);
		@include useThemeShadow($black, $primary);
		height: $vh;
		width: 230px;
		position: fixed;
		top: 0;
		left: -240px;
		z-index: 2;
		transition: left 0.3s ease;
		&.open {
			left: 0;
		}

		.theme-switch {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding: 10px;
			position: relative;
			div {
				padding-right: 12px;
				padding-top: 17px;
			}
		}
		.navigation-list {
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: 10px;
			li {
				padding: 0 10px;
				height: 40px;
				line-height: 40px;
				a {
					color: inherit;
				}
				&:hover {
					background-color: $primary_light;
					a {
						color: $text;
					}
				}
			}
		}
	}
}
