/* para cuando se cree un package independiente */
@import '../../../../theme/values/_colors.scss';
@import '../../../../theme/values/_sizes.scss';
@import '../../../../theme/values/_animations.scss';
@import '../../../../theme/values/_mixins.scss';

.groker__input-label {
	@include useThemeBg($white, $black-light);
	position: absolute;
	top: -8px;
	left: 10px;
	padding: 0 5px;
	font-size: 12px;
	font-weight: normal;
}

.groker__input-field {
	@include useThemeText($black, $white);
	width: 80%;
	background: transparent;
	border: 1px solid $white-dark;
	border-radius: $border-radius;
	font-size: 16px;
	height: 100%;
	padding: 10px;
	outline: none;

	&:focus {
		border-color: $primary;
	}

	&.dark option {
		background: $black-light;
	}

	.custom-date-input,
	.custom-date-button {
		color: inherit;
		cursor: pointer;
		height: 100%;
		border: none;
	}

	.custom-date-input {
		background: transparent;
		width: 90%;
		font-size: inherit;
		outline: none;
	}
	.custom-date-button {
		width: 10%;
		background: none;
	}
}
