.plant-info-component {
	input[type='date'] {
		width: 115px;
	}

	.text-input,
	input[type='number'] {
		@include useThemeText($text, $white);
		width: 150px;
		background: transparent;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid $primary;
	}

	select {
		width: 200px;
	}
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
