* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Geneva, Verdana, sans-serif;
}
#root {
	max-width: $vw;
	min-height: $vh;
}
input,
select,
textarea {
	width: $full;
	border-radius: $border_radius;
	border: 1px solid $grey;
	padding: 10px;
	&:focus {
		outline: none;
		border: 1px solid $primary;
	}
}
input,
select {
	height: 40px;
}

button {
	cursor: pointer;
	background-color: $primary;
	border-radius: $border_radius;
	border: none;
	transition: background-color 0.3s ease;
	color: $white;
	padding: 10px;
	&:hover {
		background-color: $secondary_light;
	}
}
a {
	text-decoration: none;
	color: inherit;
	&:visited {
		color: inherit;
	}
}
