@import '../components/style/skeleton';
@import '../components/style/notFoundRoute';
@import '../components/style/burger';
@import '../components/style/navigation';

.app-container {
	@include useThemeBg($white, $black);
	@include useThemeText($text, $white);
	display: flex;
	flex-direction: column;
	min-height: $vh;
	.header {
		@include useThemeBg($primary_dark, $black_light);
		padding: 10px;
		height: 100px;
		position: sticky;
		z-index: 2;
		top: 0;
		display: flex;
		gap: 20px;
		.back-button {
			color: inherit;
			margin: 5px;
			width: 30px;
			height: 30px;
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 10px 20px 10px;
}

@media (max-width: $medium) {
	.header {
		flex-direction: column;
		align-items: flex-start;
		& h1 {
			font-size: 22px;
		}
	}
}
