@import '../components/style/burger';
@import '../components/style/navigation';

.app-container {
	@include useThemeBg($white, $black);
	@include useThemeText($text, $white);
	display: flex;
	flex-direction: column;
	min-height: $vh;
	.header {
		padding: 10px;
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 10px 20px 10px;
}

@media (max-width: $medium) {
	.header {
		flex-direction: column;
		align-items: flex-start;
		& h1 {
			font-size: 22px;
		}
	}
}
